:root {
    /* fallback si pas de tenant */
    --c-bg: #ffffff;
    --c-surface: #f7f7f7;
    --c-text: #111111;
    --c-primary: #2563eb;
    --c-on-primary: #ffffff;

    --radius: 14px;
}

html,
body {
    background: var(--c-bg);
    color: var(--c-text);
}

* {
    box-sizing: border-box;
}